In [1]:
import pandas as pd

In [2]:
# Read the dataset
df = pd.read_csv('customer_data.csv')

In [3]:
df.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [4]:
df.isnull().sum()

customer_id    0
age            0
gender         0
email          0
purchases      2
dtype: int64

In [5]:
# Remove duplicates
df = df.drop_duplicates()

In [6]:
# Handle missing values
df['age'].fillna(df['age'].mean(), inplace=True)
df['gender'].fillna('Unknown', inplace=True)
df['purchases'].fillna(0, inplace=True)

In [7]:
# Calculate average number of purchases for each gender
avg_purchases_by_gender = df.groupby('gender')['purchases'].mean()

print(avg_purchases_by_gender)

gender
F     4.20
M    11.25
Name: purchases, dtype: float64