In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [2]:
# Load the dataset
data = pd.read_json('News_Category_Dataset_v3.json', lines=True)
data.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [3]:
# Preprocess the data
data['text'] = data['headline'] + ' ' + data['short_description']

In [4]:
# Feature extraction using TF-IDF
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['text'])

In [5]:
# Build the NearestNeighbors model
nn_model = NearestNeighbors(metric='cosine')
nn_model.fit(X)

NearestNeighbors(metric='cosine')

In [6]:
def find_similar_articles(article_index, num_similar=5):
    # Get the similarity scores for the given article
    similarities = similarity_matrix[article_index]
    
    # Sort the indices based on similarity scores
    similar_indices = similarities.argsort()[::-1]
    
    # Retrieve the top similar articles
    similar_articles = data.iloc[similar_indices[1:num_similar+1]]
    
    return similar_articles

In [7]:
def predict_similar_articles(article_text, num_similar=5):
    # Preprocess the article text
    article_text_processed = article_text

    # Transform the article text into a feature vector
    article_vector = vectorizer.transform([article_text_processed])

    # Find the approximate nearest neighbors
    _, indices = nn_model.kneighbors(article_vector, n_neighbors=num_similar)

    # Retrieve the similar articles
    similar_articles = data.iloc[indices.flatten()]

    return similar_articles

In [8]:
# Example usage
article_text = "Technology"
similar_articles = predict_similar_articles(article_text)

In [9]:
# Print the similar articles
print("Similar Articles:")
print(similar_articles[['headline', 'short_description']])

Similar Articles:
                                                 headline  \
104126                                  Dating Technology
191478                             Addicted to Technology
171787  Toddlers, Technology and the Well-Rounded Toy Box
103561            The Barriers to Technology in Education
113885           3 Ways Technology Can Make Travel Easier

                                        short_description
104126
191478  The more aware you are about your relationship...
171787  We've all seen the YouTube videos of babies ma...
103561  For technology within the classroom to be effe...
113885